body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.movie-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; /* Add some spacing between cards */
}

.movie-card {
    border: 1px solid #ddd;
    border-radius: 30px;
    padding: 16px;
    margin: 10px;
    max-width: 300px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.movie-card img {
    width: 100%;
    height: auto;
    border-radius: 30px;
    
}

.movie-card:hover {
    transform: translateY(-10px); /* Adds a hover effect */
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    width: 200px;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}
