body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.movie-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    border: 1px solid #ccc;
    border-radius: 100px;
    width: 200px;
    margin: 10px;
    
    text-align: center;
}

.card img {
    max-width: 100%;
    border-radius: 5px;
}

.card a {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: blue;
}
